#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  overflow-x: hidden;
}
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode styles */

body.light .line{
  background-color: #000000;
}
/* Footer text */
body.light footer {
  filter: brightness(0) invert(0);
}






/* Highlight primary components using the primary color */
body.dark  {
  background-color: #000000;
  color: white;
}

/* Footer text */
body.dark footer,body.dark span {
  color: white;
}

/* For logo images */
/* If your logo is an inline SVG, change the fill: */
body.dark .category, body.dark .cart {
  background-color:#2c2b2b93;
  border: 1px solid #fcfcfc93;
}
body.dark .line{
  filter: brightness(0) invert(1);
}
body.dark .box{
  border: 1px solid #fcfcfc93;
  background-color: #2c2b2b93;
}

/* If your logo is an image, you might invert its colors using filter: */
body.dark img.logo, footer {
  filter: brightness(0) invert(1);
}
body.dark .layer{
  background-color: transparent;
}
