@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import './styles/scrollbar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color:#fff4f3;
  text-decoration: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}



.custom-scrollbar-container {
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  position: relative;
  max-height: 500px;
}

.custom-scrollbar-container::-webkit-scrollbar {
  display: none; 
}

.custom-scrollbar-track {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background: transparent;
  border-radius: 3px;
  display: none;
}

.custom-scrollbar-thumb {
  width: 100%;
  background: gray;
  border-radius: 3px;
  position: absolute;
  top: 0;
  transition: transform 0.2s ease-in-out;
}
/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
  height: 500px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
  margin: 5px; /* Push scrollbar slightly inward */
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 3px;
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Increase scrollbar thickness as user scrolls */
::-webkit-scrollbar-thumb:hover {
  width: 8px;
}

/* Dynamic scrollbar size change on scroll */
.custom-scrollbar-container::-webkit-scrollbar-thumb {
  height: 100px; /* Default size */
}

/* Using JavaScript to dynamically increase scrollbar size */
.custom-scrollbar-container.scrolling::-webkit-scrollbar-thumb {
  height: 150px; /* Increased size when scrolling */
}

.glass-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
}

.glass-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, rgba(255,255,255,0.2) 0%, transparent 60%);
  transform: rotate(45deg);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.glass-button:hover::before {
  opacity: 1;
}
