@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import './styles/scrollbar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color:#fff4f3;
  text-decoration: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}



/* Hide default scrollbars */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none; /* Webkit browsers (Chrome, Safari) */
}

/* Custom scrollbar container */
.custom-scrollbar-container {
  position: relative;
  overflow: hidden;
}

/* Custom scrollbar track */
.custom-scrollbar-track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  background: transparent;
}

/* Custom scrollbar thumb */
.custom-scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  background: rgb(55, 0, 128);
  border-radius: 8px; /* Rounded corners */
  transition: height 0.2s ease;
}